certifi==2018.1.18
chardet==3.0.4
disco-py==0.0.12rc4
gevent==1.2.2
greenlet==0.4.12
holster==2.0.0
idna==2.6
requests==2.18.4
six==1.11.0
ujson==5.2.0
urllib3==1.22
websocket-client==0.44.0
